<h1>Portafolio#projects</h1>
<div class="container text-center">
<div class="col-10 justify-content-center">
<div class="card col-4 " style=""> 
  <%= image_tag "galaxy.png", class:"card-img-top"%>
  <div class="card-body">
    <h5 class="card-title">Api NASA</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn boton">Go somewhere</a>
  </div>
</div>
<div class="card col-4" style="">

   <%= image_tag "peliculas.png", class:"card-img-top"%>
  <div class="card-body">
    <h5 class="card-title">Consultor de Peliculas</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn boton">Go somewhere</a>
  </div>
</div>
<div class="card col-4" style="">
   <%= image_tag "suricata.png", class:"card-img-top"%>
  <div class="card-body">
    <h5 class="card-title">Suricata</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn boton">Go somewhere</a>
  </div>
</div>
</div>
</div>
